html, body, head, #amount, #percent, #stats, #title, #question, .ap, #extra {
    padding: 0;
    margin: 0;
}
#stats {
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 10vmin;
    background-color: rgb(235,235,235);
    box-shadow: 0 0 5px rgb(155,155,155);
    z-index: 100;
}
* {
    font-family: monospace;
}
#amount, #percent, #title {
    position: relative;
    display: inline-block;
    top: 50%;
    translate: 0 -50%;
    font-weight: bolder;
    font-size: 4vmin;
}
#title {
    display: block;
    position: absolute;
    right: 1vmin;
    font-weight: lighter;
}
#amount {
    margin-right: 2.5vmin;
    margin-left: 1vmin;
}
#card {
    width: 95vmin;
    height: 60vmin;
    background-color: rgb(235,235,235);
    position: absolute;
    top: 12.5vmin;
    left: 50%;
    translate: -50% 0;
    border-radius: 2.5vmin;
    box-shadow: 0 0 5px rgb(155,155,155);
}
#question {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    font-size: 5vmin;
    width: 85vmin;
    text-align: center;
}
.answer {
    position: relative;
    float: left;
    border: none;
    margin-right: 2.5vmin;
    width: 46.25vmin;
    aspect-ratio: 3 / 1;
    border-radius: 2.5vmin;
    background-color: rgb(235,235,235);
    box-shadow: 0 0 5px rgb(155,155,155);
    margin-bottom: 2.5vmin;
    transition: background-color 1s, opacity 1s;
}
.answer:nth-child(2), .answer:nth-child(4) {
    margin-right: 0;
}
#answers {
    width: 95vmin;
    height: fit-content;
    left: 50%;
    translate: -50% 0%;
    position: absolute;
    top: 75vmin;
}
.ap {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    font-size: 2vmin;
    width: 100%;
    text-align: center;
}
#extra {
    position: fixed;
    bottom: 2.5vmin;
    left: 2.5vmin;
    font-size: 2vmin;
}
.incorrect {
    animation: wrong forwards 0.35s;
}
.correct {
    animation: correct forwards 0.35s;
}
@keyframes wrong {
    0% {
        translate: 0% 0%;
    }
    10% {
        translate: -2.5% 0%;
    }
    20% {
        translate: 0% 0%;
    }
    30% {
        translate: 2.5% 0%;
    }
    40% {
        translate: 0% 0%;
    }
    50% {
        translate: -2.5% 0%;
    }
    60% {
        translate: 0% 0%;
    }
    70% {
        translate: 2.5% 0%;
    }
    80% {
        translate: 0% 0%;
    }
    90% {
        translate: -2.5% 0%;
    }
    100% {
        translate: 0% 0%;
    }
}
@keyframes correct {
    0% {
        translate: 0% 0%;
    }
    25% {
        translate: 0% -6.5%;
    }
    50% {
        translate: 0% -10%;
    }
    75% {
        translate: 0% -8%;
    }
    100% {
        translate: 0% 0%;
    }
}